<nav class="container-fluid  py-2 shadow-sm">
    <div class="row">

            <div class="col-lg-4 col-12">
                
                <a class="brand" routerLink="/"><img class="logo" src="../../assets/images/logo/plogo.png" alt="">Green Haven</a>
            </div>

            <div class="col-lg-4 col-12 mt-2 navLink">
                <a routerLink="/" class="link"><i class="bi bi-house"></i> Home</a>
                <a routerLink="/cart" class="link"><i class="bi bi-cart3"></i> Cart <span class="cartCount">{{cartCount}}</span></a>
            </div>


    </div>
</nav>