*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.categorisBox {
    border-radius: 5px;
    text-align: center;
    background-color: #ffffff;

}

.categorisBox a {
    text-decoration: none;
    color: #000;
}

.categorisContent {
    padding: 20px 20px;
}

.categorisContent img {
    object-fit: contain;
    border-radius: 50%;
    width: 150px;
    border: 4px solid rgb(40, 106, 44);
}

.categorisContent h4 {
    margin-top: 15px;
    font-size: 18px;
}

.productBox {
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 5px;
}



.productImg {
    height: 200px;
    width: 90%;
}


.productContent img {

    width: 100%;
    height: 100%;
    object-fit: contain;

}

.productContent h4 {
    font-size: 16px;
    margin-top: 20px;

}

.productLink {
    text-decoration: none;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    text-align: center;
    padding: 10px;
}